@import "tailwindcss";
@import "../styles/fonts.css";

@utility container {
  margin-inline: auto;
}

@theme {
  --color-background: #1A1A1D;
  --color-caption: #EEEEEE;
  --color-primary: #537FE7;
  --color-section: #191919;
  --color-box: #212121;

  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;

  /* Fonts */

  --font-IransansWeb-Black: 'IransansWeb Black';
  --font-IransansWeb-Bold: 'IransansWeb Bold';
  --font-IransansWeb-Medium: 'IransansWeb Medium';
  --font-IransansWeb-UltraLight: 'IransansWeb UltraLight';
  --font-IransansWeb: 'IransansWeb';
}

body {
  @apply bg-background text-caption font-IransansWeb
}